body {
   /*there is always an auto margin: 8px*/
   margin:0;
}

.red {
   background: #c71226;
   height: 100px;
   /*Doesn't do anything because margin will collapse into one another. Not additive*/
   margin-bottom: 15px; 
}

.blue {
   background: #0d1b88;
   height: 100px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.green {
   background: #397327;
   height: 100px;
}
